.article {
  margin-top: 3%;
  margin-left: 27%;
  margin-right: 27%;

  &__tittle {
    margin-bottom: 10px;
    color: #303030;
    &_bold {
      margin-top: 2px;
    }
  }

  &__text {
    color : #404040;
  }

  &__approaches {
    width: 47%;
    padding-left: 3px;
    display: inline-block;

    &_left {
      border: solid 1.5px #e74c3c;
    }

    &_right {
      border: solid 1.5px #3498db;
      margin-left: calc(6% - 3px);
    }
  }
}

