.content {

  &__algo {
    width: 48.5%;
    height: 55vh;
    margin-top: 5px;

    &_bad {
      outline: #e74c3c 1.5px solid;
    }

    &_good {
      outline: #3498db 1.5px solid;
      margin-left: 3%;
    }
  }

}







