.page {
    padding: 20px 30px 80px;

    &__tittle {
        font-family: 'Arvo', serif;
        text-align: center;
        color: #000;
        margin: 0 auto auto;
    }

    &__content {}

    &__start-button {
        border-radius: 3px;
        border: 1px solid black;
        background-color: #2980b9;
        margin-top: 5px;

        &_disabled { display: none; }
    }
}