.page {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

    &__tittle {
        text-align: center;
        color: rgba(52, 73, 94, 1.0);
        margin: 0 auto auto;
    }

    &__content {}

    &__start-button {
        border-radius: 3px;
        border: 1px solid black;
        background-color: #2980b9;

        margin-top: 5px;

        &_disabled { display: none; }
    }
}