.settings {
    text-align: right;
    margin-bottom: 13px;
    margin-top:30px;

    &__tittle {
        color: rgba(52, 73, 94, 1.0);
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    &__points {
        padding: 0;
        margin: 0 0 0 15px;
        display: inline-block;
        width: 10%;
    }
}