.settings {
  display: flex;
  align-items: center;
  margin-top: 15px;

  &__points {
    padding: 0;
    width: 6%;
    margin-left: auto;

    &::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
      border: 1px solid #000000;
      height: 13px;
      width: 7px;
      border-radius: 3px;
      background: #0287d0;
      cursor: pointer;
    }
  }
  &__start-button {
    border-radius: 3px;
    border: 1px solid black;
    background-color: #2980b9;

    &_disabled {
      display: none;
    }
  }

}